#button {
		display: none;
}
#button:target {
		display: block;
}

#button2{
	color: #420013;
	border-radius: 15%;
	background-color: #b7acf2;
}

#button3{
	border-width: 10px;
	border-color: green;
	display: block;
	margin-top: 15px;
}
